*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #cadae9;
    --color-text: #eef4ed;
    --color-primary: #134074;
    --color-secondary: #13315c;
    --color-pop: #815ed4;
    --color-umber: #ec724c;
    --background-pic: url("bgwbajasubtle.jpg");
    }

body{
    background-color: var();
    text-emphasis: var(--color-text);
    padding: 2rem;
    background-color:var(--color-secondary);
    color: var(--color-text);
}

header{
    border-bottom: 2px solid var(--color-pop);
    text-align: center;
    background-color:var(--color-secondary);
    color: var(--color-pop);
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-pop);
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color:var(--color-secondary);
}

p{
    margin-bottom: 1.5rem;
}

div.main {
    max-width: fit-content;
    max-height: fit-content;
}

aside{
    display: none;
}

footer a{
    color: var(--color-umber);
    max-height: fit-content;

}

@media (min-width: 200px){
    .page-wrapper{
        max-width: 550px;
        margin: 0 auto
    }

    body{
        grid-auto-columns: auto;
        font-size: 1.25rem;
        background-image: var(--background-pic);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: contain;

    }

    .main {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.25rem;
    }
}