*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: beige;
    font-size: 30px;
}



#intro{
    font-size: 50px;
    color: red;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.form{
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 2rem;
    padding: .75rem;
    border-radius: 12px;
}

button{
    font-size: 30;
    background-color: rgb(143, 226, 17);
    border-radius: 4px;
    padding: .25rem;
    margin: .25rem;
}


#newItem{
    font-size: 40px;
    border-radius: 8px;
    margin: 1rem;
    padding: .25rem;
    border: none;
}

.delete{
    background-color: red;
    color: whitesmoke;
}

.finished{
    background-color: blue;
    color: rgb(226, 209, 241);
}

#todo{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#doner{
    display: flex;
    flex-direction: column;
    float: right;
    margin: 1rem;
}