<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="styles.css">
    <!-- JavaScript -->
    <script defer src="main.js"></script>
</head>
<body>
    <div id="app" class="container">
        <!-- <h3 v-for="race in races">{{race.name}}</h3> -->
        <div class="row">
            <dropdown title="Select a Race" v-bind:things="races" v-bind:callback="getRace"></dropdown>
            <dropdown title="Select a Class" v-bind:things="classes" v-bind:callback="getClass"></dropdown>
        </div>
        <div class="row">
            <div v-if="!selectedRace" class="card col" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Before you begin</h5>
                <p class="card-text">The race you choose contributes to your character’s
                    identity in an important way, by establishing a general
                    appearance and the natural talents gained from culture
                    and ancestry. Your character’s race grants particular
                    racial traits, such as special senses, proficiency with
                    certain weapons or tools, proficiency in one or m ore
                    skills, or the ability to use minor spells.</p>
                </div>
            </div>
            <div v-if="selectedRace" class="card col" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{selectedRace.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Age: {{selectedRace.age}}</h6>
                <p class="card-text">{{selectedRace.alignment}}</p>
                <ul>
                    <li v-for="trait in selectedRace.traits">{{trait.name}}</li>
                </ul>
                </div>
            </div>
            <div v-if="selectedClass" class="card col" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{selectedClass.name}}</h5>
                <ul>
                    <li v-for="talent in selectedClass.proficiencies">{{talent.name}}</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Attributes</h5>
                    <h6 class="card-subtitle">Points remaining: {{remaining}}</h6>
                    <div v-for="stat in Object.keys(attributes)">
                        <label v-bind:for="stat">{{stat}}: {{attributes[stat]}}</label>
                        <button v-on:click="decreaseStat(stat)">-</button>
                        <button v-on:click="increaseStat(stat)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>