<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster Fire 2020</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="main.js"></script>
</head>
<body id="body" >
    <!-- class ='intro' -->
    <div id="prg" class="all">

        <header id= 'test' >
            <div class="hdr">
            <h1>Find Quality Places to live!</h1>
            
            <h4>and don't forget your dog!</h4>
        </div>
        
        <a href="#"> Contact Us</a>
        
        </header>
        
        <hr>
        <hr>
        <main>
            <h3>Enter A City:</h3>
            <div>
                <button v-on:click = "getResp()">Enter City</button>
                
                
                <button v-on:click = "updateThings()">Clear</button>
                <input v-model= "city" type="text" placeholder="Portland, OR">
            </div>
        </main>
        
        
        <footer>    
            
            <div id="dataBody">
                
                
                <!-- <p v-for= 'item in dataBody'> {{dataBody}} </p> -->
                <h4>City: &nbsp;&nbsp; {{city}} </h4>
                <hr>
                <p>Mayor: {{dataBody}} </p>
                <p>Longitude: {{lng}}</p>
                <p>Latitude: {{lat}}</p>
            </div>
        
        
        </footer>
        
        <h3> <u>Nicknames</u></h3>
        <div class="tester" v-for= "item in nicks">
            <p>
                {{item['name']}}

            </p>
            <div >
                <img v-bind:src='urlImg' alt="">

            </div>
        </div>
        
    </div>
</body>
</html>