*, * ::before, * ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hdr> h1{
    margin: .25rem 0 0 .5rem;
    padding: 0;

}
.hdr> h4{
    margin: 0 0 0 1.25rem;
    color: rgb(141, 141, 141);
    font-style: oblique;
    text-decoration: double;
}
#test{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(152, 200, 255), #FFF);
    
}
header >a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: flex-start;
    margin: 1rem .75rem 0 0;
    padding: .25rem;
    border: black;
    border-radius: 8px;
    background: rgb(152, 200, 255);
    text-align: center;
    text-decoration: none;
    height: 80%;
}












.intro ::after{
    content: "Are you sick of the dumpster fire called the USA?";
    color:  red;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    font-size: 10rem;
    animation: dissapear 3s;
    animation-fill-mode: forwards;  
    z-index: 2;
}
.intro ::before{
    content: "Find a better home!";
    color:  blue;
    display: block;
    position: absolute;
    justify-content: space-around;
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    font-size: 10rem;
    animation: dissapear 5s;
    animation-fill-mode: forwards;  
    z-index: 1;
}


@keyframes dissapear {
    75%{ opacity: 1;}
    100%{opacity: 0;}
}
