<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo List</title>
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="app">
        <h1>"To Do List"</h1>
        <div>
            <input v-model="message" type="text" name="listaddition" id="listaddition">
            <button id="addToDo" v-on:click="addToDo()">Submit</button>
        </div>
        <div class = "card">
            <h3>Card</h3>
            <div v-for="(todo, index) in toDoList" class="TestTask">
                <p v-bind:class="{completetask:todo.completed}">
                    {{todo.task}}
                </p>
                <button v-on:click="todo.completed=true" class="Complete">Complete</button>
                <button v-on="deletetask" class="Delete">Delete</button>
                <button class="Edit">Edit</button>
            </div>
        </div>
    </div>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://unpkg.com/vue"></script>
    <!-- Include your code here... -->
    <script src="main.js"></script>
</body>
</html>