<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster Fire 2020</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,500&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="main.js"></script>
</head>
<body id="body" >
    <!-- class ='intro' -->
    <div id="prg" class="all" v-bind:class="{ intro : dumpsterFire}">

        <header id= 'test' >
            <div class="hdr">
            <h1>Find Quality Places to live!</h1>
            
            <h4>and don't forget your dog!</h4>
        </div>
        
        <a href="#"> Contact Us</a>
        
        </header>
        
        <hr>
        <hr>
        <main>
            <h3>Enter A City:</h3>
            <div class = 'selectors'>
                <button class ='selBtn' v-on:click = "getResp()">Enter City</button>
                <button class ='selBtn' v-on:click = "updateThings()">Clear</button>
                <input v-model= "city" type="text" placeholder="e.g Portland, OR">
            </div>
            <h4>City: &nbsp;&nbsp; {{city}} </h4>
        </main>
        <hr>
        
        <footer>    
            
            <div v-if="scores" id="dataBody">
                <p v-if= "dataBody"><b>Mayor:</b> {{dataBody}} </p>
                <p v-if="lng" ><b>Longitude:</b>  {{lng}}</p>
                <p v-if="lat"><b>Latitude:</b>  {{lat}}</p>
                <h4 v-html="scoresObj['summary']"></h4>
            </div>
            
            <div v-if="scores" class="scores" >
                <h4 v-if="scores">Scores Out Of 10:</h4>
                <ul>
                    <li v-for= " (item) in scoresObj['categories']"> <b>{{item.name}}:</b> {{rounder(item['score_out_of_10'])}}  </li>
                </ul>
            </div>

        </footer>
        <div class="bottom">
            <h3 v-if="scores"> <u >Nicknames</u></h3>
            
            <div class="tester" >
                <ul>
                    <li v-for= "item in nicks">
                        {{item['name']}}
                    </li>
                </ul>
            </div>
            
        </div>
            
        <div class="image" >
            <img v-bind:src='urlImg' alt="">
        </div>


    </div>
</body>
</html>