{% extends 'posts/base.html' %}

{% block title %}
{{author}} Pubilc Dashboard
{% endblock %}

{% block content%}

    <div class="posts-body-public">

        <div class="dash-hero">
            <h2>This is {{author}}'s public dashboard</h2>

        </div>

        <div class="chirps">

            
            {% for chirp in chirps%}


                    <div class="chirp-dash">

                        
                        <p>
                            {{chirp.message}}

                        </p>
                        <div class="chirp-info">
                            <p>
                                Likes: {{chirp.likes}}
                            </p>
                            <p>
                                {{chirp.created_at}}
                            </p>
                        </div>
                    </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}