* {
    margin: 5;
    padding: 10;
  }
  
  body{
    background-color: #B10F2E;
    font-family: 'Roboto Condensed', sans-serif;
    --color: #111344;
  }

  .main {
    width: 90%;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9CB40;
    color: var(--color);
    border-radius: 5%;
    border: 2px solid #fff;
  }
  img{
        float: none;
        border-radius: 25%;
        width: 25%
      }
  .list{
    width: 90%;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9CB40;
    color: var(--color);
    border-radius: 10%;
    border: 2px solid #fff;
  }
  
