{% extends 'posts/index.html' %}

{% block title%}
    Log-In🔐
{% endblock %}

{% block content %}

    <div class="user-body">
        <form class="form" action="" method="POST">
            {% csrf_token %}

            <label for="username"> Enter Username</label>
            <input type="text" name="username" id="username">
            <label for="password"> Enter Password</label>
            <input type="password" name="password" id="password">

            <input type="submit" value="Log In">


        </form>

        {% if message %}
        {{message}}
        {% endif%}

    </div>


{% endblock %}