<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello from index.html</h1>
    <h2>{{ message }}</h2>
    {% for post in blog_posts %}
    <h4>{{ post.title }}</h4>
    <h5>{{ post.body }}</h5>
    <div style="display: flex; align-items: flex-around;">
        <p>{{ post.author }}</p>
        <p>{{ post.date_published }}</p>
        <p>Likes: {{ post.likes }}</p>
    </div>
    {% endfor %}

</body>
</html>