body{
    text-align: center;
    background: purple;
    display: flex;
    flex-direction: column;
    background-image: url("main_img.jpg");
    background-size: cover;
}




main{
    margin: auto;
    width: 65%;
    height: 70vh;
    background: lightcyan;
    z-index: 2;
}


#answer{
    margin: auto;
    padding: 2rem;
}
#asked{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;


}
#asked> {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

footer{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    margin: auto;
    z-index: 2;
}
footer> {
    padding: 2rem;
    margin: 1rem;
}