body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div {
  height: 100px;
  width: 100%;
}

.one {
  background: red;
  grid-column: 1 / 3;
}

.two {
  background: blue;
  grid-column: 2 / 4;
}

.three {
  background: green;
  grid-column: 3  / 4;
  grid-row: 1 / 2;
}

.four {
  background: yellow;
}

.five {
  background: purple;
}

.six {
  background: teal;
}