*, *::before, *::after{
    /* Targets all elements. This will reset everything to zero 
    so the browsers default settings won't be displayed on the page
    this includes the before and after states of all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-background: #E6FDFF;
    --color-primary: #DBF9F4;
    --color-secondary: #D9D7DD;
    --color-accent: #B07BAC;
    --color-text: #5F7367;


}
body {
    background-color: var(--color-background);
    text-align: center;
    padding: 3px;
    max-width: 400px;
    align-items: center;
    margin: 0 auto;
}
img{
    width: 100%;
    margin: 0 10px 0 10px;
}

 @media (min-width: 640px){

    body{
        max-width: 600px;
        padding: 10px;
        color: var(--color-text);
        /* sets the color of the font */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }
   img{
       width: 66%;
       margin: 0 10px 0 10px;
   }
    .james {
        display: flex;
        font-family: 'Dancing Script', cursive;
        font-size: 1.0rem;

        
    }

    .brow{
        display: flex;
        font-family: 'Dancing Script', cursive;
        font-size: 1.0rem;
    }

    .tats{
        display: flex;
        font-family: 'Dancing Script', cursive;
        font-size: 1.0rem;
    }
}


@media (min-width: 800px){

    body{
        max-width: 750px;
        padding: 10px;
        color: var(--color-text);
        /* sets the color of the font */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }
   img{
       width: 66%;
       margin: 0 10px 0 10px;
   }
    .james {
        display: flex;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;

        
    }

    .brow{
        display: flex;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
    }

    .tats{
        display: flex;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
    }
}